<p id="notice"><%= notice %></p>

<h1>Listing Folios</h1>

<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folios.each do |folio| %>
      <tr>
        <td><%= folio.folio %></td>
        <td><%= folio.expiration %></td>
        <td><%= link_to 'Show', folio %></td>
        <td><%= link_to 'Edit', edit_folio_path(folio) %></td>
        <td><%= link_to 'Destroy', folio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folio', new_folio_path %>
