<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @folio.folio %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @folio.expiration %>
</p>

<%= link_to 'Edit', edit_folio_path(@folio) %> |
<%= link_to 'Back', folios_path %>
